.background {
    width: 100%;
    min-height: calc(100vh - 5rem);
    margin-top: 4rem;
    background: var(--backgroundCustom);
}


/* START section */

.start__background {
    background: black;
    width: 100%;
    height: 100%;
}

.start {
    height: 6rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.start__img {
    height: 6rem;
    width: 6rem;
}

.start__imgMirror {
    transform: rotate(180deg);
}

.start__descContainer {
    display: flex;
    justify-content: center;
}

.start__desc {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transform: translateY(-2rem);
    letter-spacing: 0.5rem;
    color: var(--text);
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* sections */

.section {
    max-width: 1200px;
    margin: -3rem auto 0 auto;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descContainer {
    width: calc(100% - 8rem);
    padding: 1rem;
    transform: translateY(4rem);
    background: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.imgContainer {
    width: 100%;
    height: 100%;
}

.descItemContainer {
    display: flex;
    padding: 0 0 0 1.5rem;
}

.descItemSvg {
    flex: 0 0 auto;
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(var(--text));
    transform: rotate(180deg);
    opacity: 0.5;
}

.descItemText {
    padding: 0.3rem 0 0 0.2rem;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--text);
}

.descText::first-letter {
    font-size: 200%;
    color: rgb(var(--accent));
    font-weight: bold;
}


@media (min-width: 800px) {

    .start {
        max-width: 1200px;
        margin: auto;
        height: 12rem;
    }

    .start__img {
        height: 12rem;
        width: 12rem;
    }

    .start__desc {
        font-size: 2rem;
        padding: 2rem 4rem;
        transform: translateY(-3rem);
    }

    .descContainer {
        width: calc(100% - 16rem);
        padding: 2rem;
        transform: translateY(8rem);
    }

    .descTitle {
        font-size: 2rem;
    }
}